@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Shared styles */
.btn-primary{
    padding: 10px 25px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}
.container{
    max-width: 1110px;
    margin:  0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 34px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
}
.logo{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;

}
/* banner styles */
.banner{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right top;
}
.section-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.section-description{
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.bannerimg-wapper{
    max-width: 100%;
}
.sponsores-grid{
    margin-top:  100px;
    margin-bottom:  100px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
/* popular section start */

.popular-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     margin: 50px 0px;
}
.popular-section .section-title{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.popular-card{
    background: #FFFFFF;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
max-width: 330px;
margin-bottom: 20px;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
    margin-bottom: 5px;
}
.card-price{
    font-weight: 400;
    color:#000000DE;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.card-icon i{
    color: #FB8200;
}
.card-icon span{
    font-weight: 700;
    font-size: 0.875rem;
    color: #5E6366;
    margin-left: 10px;
}
.popular-card p{
    font-weight: 700;
    font-size: 0.875rem;
    color: #787885;
    max-width: 190px;
}
.see-more{
    font-weight: 700;
    color: #E02C6DDE;
    display: block;
    text-align: right;
    text-decoration: none;
}
.popular-section{
    margin-bottom: 100px;
}
/* feature products section start */
.feature-products{
    margin-bottom: 100px;
}
.feature-products-wapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.feature-title{
    font-size: 2.37rem;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 20px;
}
.feature-products-text  .btn-primary{
    border-radius: 0;
    padding: 15px 30px;
}
.feature-description{
    max-width: 500px;
    font-weight: 700;
    color:#6C6C6C;
    margin-bottom: 20px;
}
/* Footer start  */
.footer{
    background: #0a0826;
    padding: 50px 0px;
}
.footer-flex{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}












/* styes for mobile devices */
@media (max-width:576px) {
    nav{
        flex-direction: column;
    }
    .banner,
    .feature-products-wapper{
        flex-direction: column-reverse;
    }
    
    .banner-text-wapper{
        text-align: center;
    }
    .popular-card-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        padding: 0px 50px;
       
    }
    .section-title{
        font-size: 2.25rem;
    }
    .sponsores-grid{
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
       
    }
    .feature-products-wapper{
        gap: 30px;
    }
    .feature-products{
        padding: 0px 27px;
        justify-items: center;
        
    }
    
}